


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {width: auto;}
    nav ul li:first-child a {border-left: 1px solid #777;}
    nav ul li:last-child a {border-right: 1px solid #777;}
    nav ul li a{padding: .5rem 1rem;}
    nav button {
        display: none;
    }
    nav ul.closed {
        display: block;
    }

    .nav-search {
      display: none;
    }

    .header-search {
      display: block;
    }

    nav {
      height: 35px;
    }
/*----------- MAIN --------------*/
.tip {
    display: none;
}

.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
    align-items: center;
    justify-content: space-around;
}

main .medium-1 {
    width: 8.3333333333%;
    float: left; }
  main .medium-2 {
    width: 16.6666666667%;
    float: left; }
  main .medium-3 {
    width: 25%;
    float: left; }
  main .medium-4 {
    width: 33.3333333333%;
    float: left; }
  main .medium-5 {
    width: 41.6666666667%;
    float: left; }
  main .medium-6 {
    width: 50%;
    float: left; }
  main .medium-7 {
    width: 58.3333333333%;
    float: left; }
  main .medium-8 {
    width: 66.6666666667%;
    float: left; }
  main .medium-9 {
    width: 75%;
    float: left; }
  main .medium-10 {
    width: 83.3333333333%;
    float: left; }
  main .medium-11 {
    width: 91.6666666667%;
    float: left; }
  main .medium-12 {
    width: 100%;
    float: left; } 
/*----------- FOOTER --------------*/
    
