header, nav, main {
        max-width: 75rem;
        margin:auto;
}
 
#navWrapper {
    max-width: 100%;
}
/*----------- BODY --------------*/
header img {
  width: 10%;
}
 
#phone {
  position: relative;
  left: 23px;
}

#email {
  position: relative;
  left: 28px;
}

#dateNeeded {
  position: relative;
  left: 15px;
}

#busURL {
  position: relative;
  left: 5px;
}

#colorSelect {
  position: relative;
  left: 80px;
}

#steel {
  position: relative;
  left: 1px;
  
}

#expiration {
  position: relative;
  left: -15px;
}
/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
